<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ignore existing files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rediriger toutes les requêtes vers index.php
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
